.row{
    margin: 0;
    display: block;
    height: 30px;
    margin: 1px;
}
.cell{
    border: 1px solid black;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.cell input{
    border: none;
    height: 93%;
    width: inherit;
    text-align: center;
}
